@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
.container {
  min-width: 300px;
  display: block;
  position: relative;
}
.container .next {
  width: auto;
  display: block;
}
.container .mine {
  width: auto;
  display: block;
}
.container .theirs {
  width: auto;
  display: none;
}

@media screen and (min-width: 576px) {
  .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  .container .next {
    width: auto;
    order: 1;
  }
  .container .mine {
    width: 300px;
    order: 0;
  }
  .container .theirs {
    display: none;
    width: auto;
    text-align: right;
    flex: 1;
    order: 2;
  }
}
.noselect, body {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */
}

body {
  font-family: "Cutive Mono", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
  font-size: 16px;
  background-color: yellow;
}

h1 {
  font-style: italic;
  padding: 0;
  margin: 0 0 1em 0;
  line-height: 1em;
}

h2 {
  font-style: italic;
  padding: 0;
  margin: 0 0 1em 0;
  line-height: 1em;
}

sup {
  position: relative;
  vertical-align: top;
  top: -2px;
}

sub {
  position: relative;
  vertical-align: top;
  top: 2px;
}

.link {
  display: inline-block;
  padding: 2px;
}

.list, .taskList {
  list-style: none;
  padding: 0 0 1em 0;
  margin: 0;
}

.instruction {
  padding: 0px;
  margin: 15px 0 0 3px;
  list-style-position: inside;
}
.instruction li {
  font-style: italic;
}

.taskList .task {
  display: block;
}
.taskList.edit .task label {
  background-color: #DCDC00;
}
.taskList .drag {
  cursor: move;
}
.taskList .drag label {
  cursor: move;
}

.duration {
  margin-right: 2px;
  color: green;
}

.multiple {
  color: red;
  padding: 0em;
  margin-left: 2px;
}

.ascii-box input[type=checkbox] {
  display: none;
}
.ascii-box .visible:before {
  content: "☐";
}
.ascii-box input[type=checkbox]:checked + .visible:before {
  content: "☑";
}
.ascii-box .visible {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}
.ascii-box .taskText {
  font-weight: normal;
}
.ascii-box .taskText.active {
  font-weight: 600;
}