@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import '~pretty-checkbox/src/pretty-checkbox.scss';

body {
    font-family: 'Cutive Mono', sans-serif;
    font-size: 14;
}

h1 {
    font-style: italic;
    padding: 0;
    margin: 0 0 1em 0;
    line-height: 1em;
}

sup {
    position: relative;
    vertical-align: top;
    top: -2px;
}

sub {
    position: relative;
    vertical-align: top;
    top: 2px;
}

.taskList {
    list-style: none;
    padding: 0 0 1em 0;
    margin: 0;
}

.task {
    padding: 0.1em 0;
    margin-bottom: 0.1em;
}

.duration {
    margin-right: 2px;
    color: #ffb632;
}

.multiple {
    color: blue;
    padding: 0em;
    margin-left: 2px;
}

