@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import './layout';

$padding: 4px;
$marginBottom: 14px;
$shortMarginBottom: 5px;
$titleMarginBottom: 10px;

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.selectable {
  -webkit-touch-callout: text;
    -webkit-user-select: text;
     -khtml-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    border: 0;
    padding: 0;
    margin: 0;
}

pre {
    white-space: normal;
    overflow: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.textwriter {
    font-style: italic;
    padding: 8px;
    font-size: 12px;
}

body {
    font-family: 'Cutive Mono', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 14px;
    @extend .noselect;
}

h2 {
    font-style: italic;
    padding: 0;
    margin: 0 0 $titleMarginBottom 0;
    line-height: 1em;
}

h4 {
    margin-bottom: 0px;
}

sup {
    position: relative;
    vertical-align: top;
    top: -2px;
}

sub {
    position: relative;
    vertical-align: top;
    top: 4px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: $marginBottom;
}

.instruction {
    padding: 0px;
    margin: 15px 0 0 3px;
    list-style-position: inside;

    li {
        font-style: italic;
    }
}

.readout {
    text-transform: lowercase;
    font-style: italic;
}

.duration {
    margin-right: 2px;
    color: green;
}

.limit {
    margin-right: 2px;
    color:purple;
}

.multiple {
    color: red;
    padding: 0em;
    margin-left: 2px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    // font-size: 1.25em;
    // font-weight: 700;
    // color: white;
    // background-color: black;
    // display: inline-block;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label,
.inputfile + label:hover {
    // background-color: red;
}

.inputfile:focus + label {
	// outline: 1px dotted #000;
	// outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	// pointer-events: none;
}

.ascii-box {
    input[type=checkbox] {
        display: none;
    }

    .visible:before {
        content: '☐';
    }

    input[type=checkbox]:checked + .visible:before {
        content: '☑';
    }

    .visible {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
    }

    .taskText {
        font-weight: normal;
        &.active {
            font-weight: 600;
        }
    }
}

.flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;

    .flexLeft {
        flex: 1;
        display: inline;

        h4 {
            display: inline;
        }
    }

    .archorRight {
        flex: 0;
        display: inline;
    }
}
